.setclasssub-table{
    width: 900px;
}

.setClasssub-table th, .custom-table td {
  padding: 10px;
  text-align: left;
}

.setClasssub-table th {
  background-color: black;
  color: white;
}

.setClasssub-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.setClasssub-table tr:nth-child(odd) {
  background-color: white;
}
setClasssub-table td {
  border-bottom: 1px solid #ddd;
}