.add-btn {
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 5px;
}

.actions{
    display: flex;
    justify-content: space-around;
}
.class-name-th{
    width: 800px;
}
.class-container{
  width: 700px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.6);
}